.unanswered strong
{background:transparent;color:#9A4444!important;}
.peer1{background-image:url("images/sprites.png?v=3");
background-position:-167px -153px;display:inline-block;height:31px;width:72px;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
body{background:#FFF;color:#000;font-family:Arial,Liberation Sans,DejaVu Sans,sans-serif;font-size:80%;text-align:center;}
code{font-family:Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;background-color:#eeeeee;}
textarea{font-family:Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;border:1px solid #999;font-size:90%;}
.form-submit input:hover{cursor:pointer;}
input,select,button{border:1px solid #999;font-size:100%;font-family:Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;}i
nput{margin:5px 0px 5px 0px;padding:3px;}
pre{padding:5px;font-family:Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;margin-bottom:10px;background-color:#eeeeee;overflow:auto;width:auto;width:650px !ie7;padding-bottom:20px !ie7;max-height:600px;}
.post-text pre>code:first-child,#wmd-preview pre>code:first-child{max-height:600px\9;display:block\9;}
pre{max-height:none\9;}
blockquote{margin-bottom:10px;padding:10px 10px 1px 10px;background-color:#eeeeee;}b,strong{font-weight:bold;}i,em{font-style:italic;}ul{list-style:disc;margin-left:30px;margin-bottom:1em;}ol ul,ul ol,ul ul,ol ol{margin-bottom:0px;}p{clear:both;margin-bottom:1em;}ol{list-style:decimal;margin-left:30px;margin-bottom:1em;}a{color:#0077cc;text-decoration:none;cursor:pointer;}a:hover{text-decoration:underline;}a:visited{color:#4a6b82;}h1{font-family:Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;font-weight:bold;font-size:170%;margin-bottom:7px;}h2{color:#9B6E67;font-family:Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;font-size:140%;font-weight:bold;margin-bottom:7px;}h3{font-family:Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;font-size:110%;font-weight:bold;margin-bottom:5px;}hr{border:0;color:#aaa;background-color:#aaa;height:1px;margin-bottom:20px;}sup{font-size:80%;position:relative;top:-0.4em;}sub{position:relative;top:0.3em;font-size:80%;}kbd{padding:2px 4px;white-space:nowrap;color:#000;background:#eee;border-width:1px 3px 3px 1px;border-style:solid;border-color:#ccc #aaa #888 #bbb;}input[type=checkbox],input[type=radio]{border:none;}p code{padding:1px 5px 1px 5px;}.comment-text code{padding:1px 5px 1px 5px;}.dno{display:none;}.date{text-align:right;width:70px;height:35px;white-space:nowrap;font:normal 28px sans-serif;letter-spacing:-2px;color:#ccc;line-height:35px;}.date_brick{float:right;height:30px;width:45px;background-color:#eee;color:#999;font:Bold 12px Verdana,Sans-Serif;text-align:center;line-height:12px;margin-left:10px;padding-top:5px;letter-spacing:0px;overflow:hidden;}.revcell1{width:25px;cursor:pointer;text-align:right;}.revcell2{width:50px;cursor:pointer;font-size:250%;font-weight:bold;color:#777;text-align:left;}.revcell3{vertical-align:middle;width:660px;padding-top:8px;}.revcell4{padding:5px;width:185px;}.revcell5{margin-top:10px;margin-left:15px;width:800px;}.mini-counts{height:25px;font-size:190%;font-weight:bold;}.vt{vertical-align:top;}.vm{vertical-align:middle;}.fw{width:100%;}.votecell{width:60px;vertical-align:top;}#answers{clear:both;padding-top:10px;width:730px;}#answers .subheader{margin-bottom:-10px;}.answer{border-bottom:1px solid #aaa;width:730px;padding-bottom:20px;padding-top:20px;}.post-signature{padding-left:5px;padding-top:2px;text-align:left;vertical-align:top;width:175px;height:58px;}.accept-rate{margin-left:37px;padding-top:6px !ie7;margin-top:3px;margin-bottom:6px;}.owner{background-color:#e0eaf1;}.share-tip{-moz-box-shadow:2px 2px 4px #999999;-webkit-box-shadow:2px 2px 4px #999999;box-shadow:2px 2px 4px #999999;background-color:#eaeaea;margin-top:5px;font-size:12px;max-width:500px;overflow:auto;padding:10px;position:absolute;z-index:100;}.deleted-answer{background-color:#e3d9d9;}.downvoted-answer{color:#888;}.item-multiplier{font-size:120%;font-weight:bold;margin-right:4px;color:#444;}.reputation-score{font-weight:bold;color:#444;font-size:120%;margin-right:2px;}.relativetime{font-weight:bold;padding:10px;text-decoration:none;}#notify-container{font-size:130%;font-weight:bold;text-align:center;position:fixed;left:0;top:0;width:100%;height:0;z-index:100;color:#735005;}#notify-container div{background-color:#F4A83D;border-bottom:1px solid #D6800C;padding:7px 0;}#notify-container a{text-decoration:underline;color:#735005;}#notify-container span.notify-close{background-color:#FAD163;float:right;margin-right:20px;border:2px solid #735005;padding-left:4px;padding-right:4px;text-decoration:none;display:block;cursor:pointer;}#notify-container span.notify-close a{text-decoration:none;}.summaryinfo{color:#808185;text-align:center;}.summarycount{text-align:center;color:#808185;font-size:350%;font-weight:bold;}.lsep{margin:0px 2px 0px 2px;color:#ccc;font-size:110%;}.post-taglist{margin-bottom:10px;clear:both;}.post-menu{padding-top:2px;}.post-menu>a,.edit-tags-wrapper>span>a{padding:0px 3px 2px 3px;color:#888888;}.post-menu>a:hover,.edit-tags-wrapper>span>a:hover{background-color:#777777;color:#fff;text-decoration:none;}.edit-tags-wrapper{padding-right:40px;}.edit-tags-wrapper>a.post-tag{margin-right:6px;}.post-menu .lsep{margin:0px;padding:0px;}.comments{width:660px;border-top:dotted 1px #aaa;margin-top:10px;padding-bottom:10px;line-height:135%;color:#444;}.comments>table{width:100%;}.comments-link{padding:0px 3px 2px 3px;color:#888;}.comments-link:hover{padding:0px 3px 2px 3px;background-color:#777;color:#fff;text-decoration:none;}tr.comment>td{padding-top:5px;padding-bottom:5px;border-bottom:dotted 1px #ddd;}tr.comment-hover{background-color:#fafafa;}.comment img{vertical-align:middle;}.comment-flag,.comment-up,.comment-delete{visibility:hidden;cursor:pointer;}.comment-actions{padding-left:3px;width:15px;}.comment-score span{font-size:110%;color:#666666;font-weight:bold;padding-right:2px;}.comment-text,.comment-form{vertical-align:text-top;padding:0px 6px 0px 7px;}.comment-text .comment-edited{vertical-align:top;margin-top:3px;margin-left:2px;}a.comment-user{white-space:nowrap;padding:0;}a.comment-user.owner{padding:2px 5px 2px 5px;}.comment-date{color:#999;}.comment-edit-hide{visibility:hidden;}.comment-form>form>table{text-align:left;margin-top:5px;margin-right:5px;vertical-align:top;}.comment-form>form>table td{vertical-align:top;}.comment-form>form input{margin-left:10px;margin-top:1px;width:100px;display:block;cursor:pointer;}.comment-form .edit-comment-cancel,.comment-form .comment-help-link{margin-left:10px;}.comment-form>form textarea{margin-bottom:4px;height:5em;}.text-counter{margin-right:20px;}.accept-answer-link{font-weight:bold;color:#508850 !important;}.deleted-post{color:#B65454 !important;font-weight:bold !important;}.deleted-post:hover{color:#fff !important;background-color:#B65454 !important;}.deleted-answer-info{color:#b65454;margin-top:10px;margin-left:3px;}.search-highlight{color:#333;background-color:#FFFFCC;font-weight:bold;}.page-description{color:#333;font-size:120%;margin:0 1.2em 0.5em 0;line-height:120%;}#footer{color:#444;background:#efe2ac;border-top:7px solid #dbdbdb;clear:both;padding:15px;margin-top:30px;}#footer-menu{color:#999;float:left;font-size:100%;line-height:30px;width:820px;}#footer-menu a{color:#9B6E67;}#footer-sites{line-height:20px;padding-bottom:10px;}#svnrev{margin-top:5px;}#copyright{color:#444444;clear:both;}#copyright a{color:#444444;text-decoration:underline;}.content-page{color:#333;font-size:120%;line-height:125%;margin-bottom:15px;}.content-page h2{margin-bottom:10px;font-size:120%;}.user-list{margin-right:10px;width:225px;height:21px;float:left;text-align:left;white-space:nowrap;overflow:hidden;}.user-name{float:left;width:125px;}.user-flair{float:left;}.user-info{height:35px;width:185px;}.user-info .user-gravatar32{float:left;width:32px;height:32px;}.user-info .user-action-time{margin-top:2px;margin-bottom:4px;}.user-info .user-details{float:left;margin-left:5px;width:145px;overflow:hidden;white-space:nowrap;}.user-details{color:#888;line-height:17px;}#revisions{margin-top:20px;margin-left:20px;}.revision td{background-color:#eee;}.vote-revision td{background-color:#ddd;}.owner-revision td{background-color:#e0eaf1;}.revision-comment{color:#333;background-color:#ffffcc;padding:3px;line-height:1.4;}.openid-identifier{background:url(../img/openid-large.png) center left no-repeat;padding-left:32px;height:22px;line-height:22px;}#answers-header{width:730px;margin-top:10px;margin-bottom:10px;}#question-header{font-family:Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;width:940px;margin-bottom:20px;margin-top:20px;border-bottom:1px solid #555555;}#question-header a{color:#000000;}#question-header h1{font-size:180%;}#user-about-me{border:none;background-color:#eeeeee;line-height:120%;padding:10px;margin:10px;height:225px;overflow:auto;word-wrap:break-word;width:380px;}.answer-votes{color:#555;text-align:center;background-color:#eeeeee;float:left;font-weight:bold;padding:4px;padding-bottom:5px;width:22px;height:15px;text-decoration:none;font-size:110%;}.answer-hyperlink{color:#555 !important;font-weight:bold;}.question-hyperlink{font-weight:bold;}.answer-link{float:left;width:700px;margin-top:5px;padding-left:10px;color:#555;}.answer-link a{font-weight:bold;}.answer-summary{padding:3px;clear:both;}.user-details td{color:Black;padding:4px 0px 4px 0px;}.bounty-indicator,.bounty-indicator-tab,.bounty-award{color:#fff !important;background-color:#0077dd;font-size:90%;font-weight:bold;margin-right:5px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}.bounty-indicator-tab{display:inline-block;padding:0px 4px;margin-left:-4px;}.bounty-indicator{float:left;}.bounty-indicator,.bounty-award{padding:2px 5px 2px 4px;}.bounty-award{display:inline !important;margin:0px !important;cursor:default;}.bounty-award-container{margin-top:13px;width:58px;}.bounty-vote{cursor:pointer !important;}.bounty-vote-off{background-color:#9dcdf6 !important;}.bounty{background-color:#eee;}.question-status{margin-top:15px;margin-bottom:-5px;width:657px;background-color:#eee;line-height:150%;padding:8px 8px 1px 60px;clear:both;}.question-status h2{font-size:150%;line-height:125%;margin-bottom:4px;}.answer-title{color:#bbb;}.answer-title:visited{color:#bbb;}.history-table{margin-bottom:10px;line-height:125%;}.history-table span.revision-comment{line-height:180%;}.history-table .comments{border-top:none;}.history-table td{padding:0px 5px 5px 0px;}.history-table p{margin-bottom:10px;margin-top:3px;}#noscript-warning{font-family:sans-serif;position:fixed;top:0px;left:0px;width:100%;z-index:101;text-align:center;font-weight:bold;font-size:120%;color:#fff;background-color:#AE0000;padding:5px 0px 5px 0px;}#noscript-padding{padding-top:3.5em;}.container{text-align:left;width:100%;zoom:1;}#custom-header{background-color:#eee;height:31px;margin-bottom:-31px;}#content{margin:0 auto;width:960px;min-height:450px;}#hsearch{margin-right:-4px !important;}#hsearch .textbox{color:#000;margin:0px;width:200px;max-width:200px;border:none;border-top:1px solid #ccc;border-left:1px solid #ccc;}#hsearch .textbox.mod{width:180px;max-width:180px;}#header{height:120px;margin:0 auto;padding-bottom:15px !ie7;}#headerContainer{width:960px;margin:0 auto;}#header #topbar{width:auto;padding:3px 10px 0px 10px;float:right;height:30px;line-height:22px;}#header #hlogo{height:61px;width:250px;float:left;margin-top:10px;}#header #hmenus{width:705px;float:left;padding:34px 0px 20px 5px;margin-top:10px;}#header #topbar #hlinks{float:left;margin:0px 35px 0px 0px;}#hlinks{margin-right:20px !important;}#hlinks a{font-weight:bold;}.hlinks-drop-down{cursor:pointer;}.hlinks-drop-down:hover a{text-decoration:underline;}span.drop-down-link{color:#444;position:relative;top:-1px;font-size:80%;}#header #topbar #hsearch{float:left;}#system-message{clear:both;text-align:center;margin:0px 0px 10px 0px;padding:7px;font-weight:bold;color:#735005;background-color:#ffefc6;}#system-message a{color:#735005;text-decoration:underline;}.nav{padding-left:50px;float:left;font-size:125%;}.nav ul{margin:0;}.nav li{background:#8eb94b;display:block;float:left;margin-right:7px;}.nav .youarehere{background:#ff9900;}.youarehere a{color:#fff;}.nav li:hover{background-color:#ff9900;}.nav a{color:#fff;display:block;font-weight:bold;padding:6px 12px 6px 12px;text-decoration:none;}.askquestion{float:right;}#nav-askquestion{margin-right:0px;}
#sidebar{overflow:hidden;
float:right;
margin-bottom:60px;
width:220px;
}
#sidebar{overflow:hidden;
float:right;
margin-bottom:60px;
width:220px;
}

#mainbar{float:left;margin-bottom:40px;width:735px;}#mainbar-full{width:960px;}#feed-link{text-align:right;float:right;clear:both;margin-bottom:15px;white-space:nowrap;}#feed-link a{color:#777;}#feed-link-text{float:left;}.subheader{border-bottom:1px solid #666666;height:34px;clear:both;margin-bottom:15px;}.subheader h1,.subheader h2{color:#9B6E67;float:left;font-size:170%;line-height:34px;margin-bottom:0px;}.subheader a{color:#000000;}#tabs{float:right;font-weight:bold;}#tabs a{background:inherit;border:1px solid #fff;color:#777;display:block;float:left;font-size:90%;height:24px;line-height:22px;margin:8px 8px 0 0;padding:0 11px 0 11px;text-decoration:none;}#tabs a:hover{background:#fff;border:1px solid #777;border-bottom-color:#fff;line-height:20px;margin-top:9px;}#tabs a.youarehere{background:#fff;border:1px solid #777;border-bottom-color:#ffffff;color:black;font-size:120%;height:30px;line-height:28px;margin-top:3px;padding:0px 11px 0px 11px;}.subtabs{width:100%;float:right;font-weight:bold;}.subtabs a{font-family:Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;border:1px solid #ccc;color:#808185;display:block;float:right;font-size:120%;margin-right:3px;padding:2px 4px 4px;text-decoration:none;}.subtabs a.youarehere{background-color:#808185;border:1px solid #808185;color:#fff;font-weight:bold;}.question-summary{border-bottom:1px dotted #999;overflow:hidden;padding:11px 0px;width:730px;float:left;}#question{clear:both;width:730px;}#questions{clear:both;width:730px;float:left;margin-top:-10px;}.stats{background:#eee;margin:0 0 0 7px;padding:4px 7px 6px 7px;width:58px;}.statscontainer{width:86px;float:left;margin-right:8px;}.narrow .stats{background:none;margin:0 0 0 7px;padding:0;width:auto;height:48px;float:left;}.votes{color:#555555;padding:0 0 7px 0;text-align:center;}.narrow .votes{background:transparent;float:left;margin:0 3px 0 0;padding:5px;width:38px;height:38px;}.vote-count-post{display:block;font-size:240%;}.vote-up,.vote-down{display:block;margin:0 auto;}.vote-count-separator{border-top:1px solid silver;width:30px;margin-left:15px;}.views{padding-top:4px;color:#999;text-align:center;}.cool{color:#999 !important;}.warm{color:#9b764f !important;}.hot{color:#cf7721 !important;}.hotbg{color:#fff !important;background-color:#cf7721 !important;}.supernova{color:#fe7a15 !important;}.supernovabg{color:#fff !important;background-color:#fe7a15 !important;}.narrow .views{float:left;margin:0 7px 0 0;padding:5px 0px 5px 4px;width:40px;height:38px;}.views strong{display:block;}.status{margin-top:-3px;padding:4px 0 4px;text-align:center;}.narrow .status{float:left;margin:0 3px 0 0;padding:5px;width:48px;height:38px;}.status strong{color:#ffffff;display:block;font-size:140%;}.answered{background:#75845C;color:#ffffff;}.answered-accepted{background:#75845C;color:#E1E818;color:#e1e818;}.answered-accepted strong{color:#E1E818;background:#75845C;}.unanswered{background:transparent;color:#9A4444;color:#9a4444;}.summary{float:left;width:635px;}.excerpt .started{float:right;width:185px;height:55px;margin-top:5px;}.excerpt .tags{width:410px;margin-top:5px;}.summary h3{font-size:130%;}.narrow .summary{width:550px;}.excerpt{line-height:1.2;padding:0;margin:0;padding-bottom:5px;}.excerpt p{margin-bottom:3px;}.tags{line-height:18px;float:left;}.tags a:hover{text-decoration:none;}.started-link,.started-link:visited{color:#999;}.started{width:185px;color:#999;float:right;line-height:18px;}.narrow .started{width:auto;line-height:inherit;padding-top:4px;white-space:nowrap;}.started img{vertical-align:baseline;}.started .reputation-score{margin-left:1px;}.mod-flair{color:#0077cc;margin-left:3px;font-weight:bold;font-size:140%;}.module{color:#444;padding:0 8px 2px 8px;margin-bottom:10px;}.module p.label-key{color:#444;margin-bottom:0;}.module p.label-value{color:#444;font-size:140%;font-weight:bold;}.module .spacer{margin-bottom:8px;}.module h4{color:#9B6E67;line-height:1.4;font-size:130%;padding-bottom:7px;}.newuser{background-color:#f4f4f4;color:#735005;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;padding-top:8px;}.newuser h4{color:#AE0000;}.newuser a{font-weight:bold;text-decoration:underline;color:#735005;text-decoration:underline;}.module p{font-size:120%;line-height:1.3;margin-bottom:0.5em;}.module ul{margin-left:15px;list-style-type:square;font-size:120%;margin-right:30px;line-height:120%;}.module li{margin-bottom:4px;}.vote{text-align:center;}.vote span{display:block;color:#808185;font-weight:bold;}.favoritecount{text-align:center;color:#808185;}.favoritecount-selected{color:#D4A849;}.favorites-count,.favorites-count-off{width:32px;text-align:center;color:#D4A849;margin-top:13px;float:left;}.favorites-count-off{color:#919191;}.post-text{width:660px;font-size:107%;margin-bottom:5px;margin-right:5px;line-height:130%;}.post-text h1,.post-text h2,.post-text h3{margin-bottom:1em;}.post-text p{word-wrap:break-word;}.post-text hr{background-color:#ddd;color:#ddd;}#wmd-preview img{max-width:640px;}#wmd-preview h1,#wmd-preview h2,#wmd-preview h3{margin-bottom:1em;}.post-text img{max-width:640px;}.spoiler{color:#eeeeee;}.spoiler a{color:#eeeeee;border-color:#eeeeee;}.spoiler:hover *{color:black;}.spoiler:hover * a{color:#0077cc;border-color:black;}.form-item{padding:10px 0px 15px 0px;}.form-submit{padding:10px 0px 15px 0px;display:block;}.form-submit input{font-family:Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;font-size:130%;font-weight:bold;border:1px solid #888;padding:2px;margin:3px;}.form-item label{display:block;font-size:115%;font-weight:bold;color:#333;padding-bottom:3px;}span.form-error{color:#990000;font-weight:bold;margin-left:5px;font-size:90%;}div.form-error{color:#990000;font-weight:bold;font-size:130%;}.edit-field-overlay{display:none;}.edit-field-overlayed{color:#888;}#post-editor{width:660px;}.community-option{float:right;color:#888;font-weight:normal;font-size:90%;height:32px;}.community-option input,.community-option label{vertical-align:middle;}#edit-block{display:none;}.pager{margin-top:20px;margin-bottom:20px;}.page-sizer{margin-top:20px;margin-bottom:20px;}.page-numbers{font-family:Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;border:1px solid #ccc;color:#808185;display:block;float:left;font-size:130%;margin-right:3px;padding:4px 4px 3px;text-decoration:none;}.page-numbers.desc{border:none;}.page-numbers:hover{text-decoration:none;}.page-numbers.next,.page-numbers.prev{border:1px solid #fff;}.page-numbers.current{background-color:#808185;border:1px solid #808185;color:#fff;font-weight:bold;}.page-numbers.dots{border:1px solid #fff;}.error-notification{z-index:1;cursor:pointer;display:none;position:absolute;padding:15px;-moz-box-shadow:2px 2px 5px #000000;-webkit-box-shadow:2px 2px 5px #000000;box-shadow:2px 2px 5px #000000;}.error-notification a{color:inherit;text-decoration:underline;}.error-notification li{font-size:110%;padding-top:3px;}.system-alert{color:#fff;background-color:#ae0000;padding:5px;font-weight:bold;margin-bottom:10px;margin-top:5px;}.system-alert a{color:#fff;text-decoration:underline;}.popup{background-color:#fff;border:solid 10px #ae0000;-moz-box-shadow:2px 2px 5px #000000;-webkit-box-shadow:2px 2px 5px #000000;box-shadow:2px 2px 5px #000000;z-index:6;display:none;position:absolute;padding:15px;}.edit-tags{padding:5px 0 0 15px;}.flag-menu{width:22em;cursor:default;}.flag-reasons{padding:10px 0px 15px 15px;}.flag-reasons input,.close-reasons input{border:none;cursor:pointer;}.flag-reasons label{margin-left:0.5em;cursor:pointer;}.close-reasons tr td:last-child{cursor:pointer;padding-left:0.5em;}.close-reasons span.close-reason{font-weight:bold;}.close-reasons li td.close-desc{color:#666;padding-top:2px;padding-bottom:8px;line-height:130%;}.flag-reasons textarea{margin-top:4px;margin-bottom:4px;}.flag-comment{margin-top:15px;display:none;}.flag-cancel,.close-cancel{cursor:pointer;float:left;font-size:110%;font-weight:bold;}.flag-submit,.close-submit-container{float:right;}.flag-submit,.close-submit{cursor:pointer;font-size:110%;font-weight:bold;}.close-submit-container tbody tr td:first-child{padding-right:20px;font-size:110%;}.close-submit-container tbody tr td:first-child span.bounty-indicator-tab{padding-top:4px;padding-bottom:4px;}.close-reasons li{list-style-type:none;}.existing-linked-questions{margin:27px 0px 10px 0px;}.existing-linked-questions p{color:#333;font-weight:bold;}.existing-linked-questions li{list-style:none;margin-bottom:7px;padding-left:20px;}.existing-linked-questions a{padding-left:3px;}.selected-master-preview{margin-top:10px;}.post-tag,.post-text .post-tag,#wmd-preview a.post-tag{color:#3E6D8E;background-color:#E0EAF1;border-bottom:1px solid #3E6D8E;border-right:1px solid #7F9FB6;padding:3px 4px 3px 4px;margin:2px 2px 2px 0;text-decoration:none;font-size:90%;line-height:2.4;white-space:nowrap;}.post-tag:hover,.post-text .post-tag:hover,#wmd-preview a.post-tag:hover{background-color:#3E6D8E;color:#E0EAF1;border-bottom:1px solid #37607D;border-right:1px solid #37607D;text-decoration:none;}.badge,.badge-tag{color:#fff !important;background-color:#8EB94B;border:1px solid #8EB94B;margin:0 3px 3px 0;padding:0px 6px 0px 3px;display:inline-block;text-decoration:none;line-height:1.9;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;}.badge:hover,.badge-tag:hover{border:1px solid #555;background-color:#555;text-decoration:none;}.badge-tag:hover{color:#fff !important;border:2px solid #555;}.badge-tag{color:#333 !important;border:2px solid #333;background-color:#eee;}.badgecount{padding-left:1px;color:#808185;}.diff-delete{text-decoration:line-through;color:#A82400;background-color:#E5BDB2;}.diff-add{background:#D1E1AD;color:#405A04;}.tagged-ignored{background-color:#fff;opacity:0.5;filter:alpha(opacity=50);}.tagged-ignored-hidden{display:none;}.tagged-interesting{background-color:#ffefc6;}#interestingAdd,#ignoredAdd{margin-left:5px;height:27px;}#interestingTag,#ignoredTag{height:19px;}.everyonelovesstackoverflow{margin-bottom:8px;}.welovestackoverflow{padding:5px;color:#333;line-height:130%;overflow:hidden;margin-bottom:8px;border:3px solid #eee;}.ask-mainbar{width:660px !important;}.ask-sidebar{width:270px !important;}.ask-title{margin-bottom:-15px;margin-top:-10px;}.ask-title-table{width:668px;}.ask-title-field{width:610px;}.ask-title-cell-key{width:50px;}.ask-title-cell-value{padding-left:5px;}#question-suggestions{width:665px;overflow:hidden;}.tagged{margin-bottom:10px;margin-top:5px;}.related{line-height:120%;font-size:90%;}.linked{line-height:120%;font-size:90%;}.cbt{clear:both;}.orcell{vertical-align:middle;padding:0px 40px 0px 40px;}.orword{position:absolute;margin-top:40px;background-color:white;margin-left:-10px;padding:5px;}.orline{width:1px;border-left:solid 1px #999;height:8em;margin:auto;}.space{padding-top:20px;}.fl{float:left;}.fr{float:right;}#question-mini-list{overflow:auto;margin-top:-10px;margin-bottom:30px;}.tag-col{width:184px;}.sponsor-tag-img{vertical-align:text-top;padding-right:4px;}.cp{cursor:pointer;}.ar{text-align:right;}.al{text-align:left;}.