﻿
/*=====================================
   GENERAL STYLE SECTION
    ===================================*/

	body {
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    line-height:25px;
   background-color:#FFFFFF;
   color:#000000;
}


.pad-top-botm {
  
    padding-bottom:50px;
}
  

    .div-trans {
padding-top: 5px;
background-color: rgba(0, 0, 0, 0.5);
min-height: 330px;
margin-top: 150px;
color: #00CC99;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-bottom: 30px;
}
        .div-trans i {
            margin-left: 50px; 
            margin-right: 20px; 
            color:#00CC99;
        }
        .div-trans span {
            color: #00CC99;
        }
        .div-trans button {
            background-color:#1ABC9C;
        }
#home .form-control {
    background-color:#FFFFFF;
}


/*==========================================
   CONTACT STYLES
    =====================================================*/
img {
  height: auto;
}
	#contact {
    padding-top:80px;
    color: #ffffff; 
    background-color:black;
	margin-bottom: 80px;
  padding: 5px;
  -webkit-border-radius: 40px;
-moz-border-radius: 40px;
border-radius: 40px;

}

#contact .form-control {
    background-color:#ffffff;
    height:40px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
	 
}
 

#contact  .div-trans button {
            background-color:#FFFFFF;
			
        }

/*==========================================
   FOOTER STYLES
    =====================================================*/
	/*==========================================
 end of  FOOTER STYLES
    =====================================================*/


/*# sourceMappingURL=contact_view.css.map */

 
